<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/logind.css" />

		<title>Document</title>
	</head>
	<body>
		<header><%- include('./partials/headers'); %></header>

		<main class="login">
			<p>Reset link sent to your Mail</p>

			<form action="/login">
				<button onclick="this.form.submit" name="continue" type="submit">
					Continue
				</button>
			</form>
		</main>
		<footer><%- include('./partials/footer'); %></footer>
	</body>
</html>
