<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/signup.css" />

		<title>Document</title>
	</head>
	<body>
		<% view_BDs.forEach(function(view_BD){%>
		<main>
			<h4><%=view_BD.Username</h4>
		</main>
		<%})%>
		<button>Back</button>
	</body>
</html>
