*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{

    background-color: rgb(193, 250, 193);
    overflow: scroll;
    height: 100vh;
}
.signup{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 3rem auto;
    border-radius: 10px;
    border: 3px outset aliceblue;
    position: relative;
}
.analytic{
    display: flex;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    column-gap: 2rem;
   
    
    
}
.form{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
    padding-top: px;

}
.form>input{
    margin: 0.2rem 0.2rem;
    width: 300px;
    height: 30px;
    border: 4px groove aliceblue;
    border-radius: 4px;

}
.form>input,label{

    margin: 0.2rem 0.2rem;
    width: 300px;
    height: 25px;

}
.form>h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
.form>.submit{
    width: 150px;
    margin: 20px auto;
    margin-left: 70px;
    background-color: rgb(105, 161, 105);
    border: 4px solid rgb(105, 161, 105)
}
.main{
    margin: 0 auto;
    height: fit-content;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    padding-top: 50px;
    position: relative;
    
}
/* Home */
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 3rem;
    margin-inline-start: 4rem;
    margin-inline-end: 2rem;
}
.h-home{
    margin-inline-start: 4rem;
    margin-block-start: 2rem;
}
.form{
    width: 24rem;
    padding-inline-start: 2rem;
    padding-block-start: 2rem;
    border-radius: 4rem;
}
.home>.form-home{
    width: 4rem;
}
.short_url{
    width: 20rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 2rem;
    line-height: 1.5rem;
    background-color: white;
    border-radius: 2rem;

}
.short_url h3{
    margin-block-start: 1rem;
}
.short_url img{
    padding-block-start: 1.5rem;
}



@media screen  and (max-width:650px){
   
    .signup{
        width: 200px;
        height: 250px;
        background-color: white;
        margin: 10px auto;
        border-radius: 10px;
        border: 1px outset aliceblue;
        position: relative;
    }
    .analytic{
        margin-block-start: 2rem;
        margin-block-end: 2rem;
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
        column-gap: 2rem;
       
        
        
    }
    .form{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-color: white;
        padding-top: px;
    
    }
    .form>input{
        margin: 0.1rem 0.1rem;
        width: 150px;
        height: 5px;
        border: 2px groove aliceblue;
        border-radius: 2px;
    
    }
    .form>input,label{
    
        margin: 4px;
        width: 180px;
        height: 20px;
    
    }
    .form>h3{
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .form>.submit{
        width: 100px;
        margin: 0 auto;
        margin-left: 50px;
        background-color: rgb(236, 148, 148);
        border: 4px solid rgb(236, 148, 148)
    }
    .main{
        display: block;
        margin: 0 auto;
        height: fit-content;
        text-align: center;
        font-size: xx-large;
        font-style: italic;
        padding-top: 50px;
        position: relative;
        
    }
    .quote{
        margin-bottom: 2rem;
    }
    .noBirthday{
        margin-top: 4rem;
    }
}
